.home-wrapper {
  .upper-content {
    height: 500px;
    justify-content: center;
    align-items: center;

    .upper-heading {
      display: block;
    }
  }
  .footerImage {
    background-size: 100px;
  }
}
